@inherits LayoutComponentBase
<link href="css/wlodcar.css" rel="stylesheet" />

<div class="auth-wrapper d-flex flex-column align-items-center">
    <a href="/" class="mb-4 mt-3">
        <img src="images/logo.png" alt="WlodCar" height="24" />
    </a>

    <div class="auth-card shadow-sm">
        @Body
    </div>
</div> 