@* Components/Shared/Footer.razor *@
<footer class="wc-footer text-white mt-auto">
    <section class="container py-5">
        <div class="row gy-4 align-items-center">
            <!-- logo ------------------------------------------------------------ -->
            <div class="col-lg-3 text-center text-lg-start">
                <img src="images/logo.png" alt="WlodCar" height="20" />
            </div>

            <!-- linki ----------------------------------------------------------- -->
            <div class="col-lg-5">
                <div class="row fs-sm">
                    <div class="col-6 col-md-4 mb-3 mb-md-0">
                        <ul class="list-unstyled">
                            <li><a class="wc-footer-link" href="#">Regulamin</a></li>
                            <li><a class="wc-footer-link" href="#">FAQ</a></li>
                            <li><a class="wc-footer-link" href="#">Polityka Prywatności</a></li>
                            <li><a class="wc-footer-link" href="#">Obowiązek informacyjny</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <ul class="list-unstyled">
                            <li><a class="wc-footer-link" href="#">RODO</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- dane spółki + social ------------------------------------------- -->
            <div class="col-lg-4 fs-sm">
                <strong>Wlodcar&nbsp;Sp.&nbsp;z&nbsp;o.o.</strong><br />
                Al. Kilińskiego 12, 09-402 Płock<br />
                +48 661 121 122&nbsp;&nbsp;bok@wlodcar.pl<br />

                <div class="mt-3">
                    <a href="#"><i class="bi bi-facebook fs-4 text-white me-2"></i></a>
                    <a href="#"><i class="bi bi-linkedin fs-4 text-white me-2"></i></a>
                    <a href="#"><i class="bi bi-instagram fs-4 text-white"></i></a>
                </div>
            </div>
        </div>
    </section>

    <div class="wc-footer-bar text-center py-2">WlodCar © 2025</div>
</footer>