@using System.ComponentModel.DataAnnotations
@using WlodCar.Services
@inject ReservationState State

<EditForm Model="M" OnValidSubmit="Next" FormName="step1">
    <DataAnnotationsValidator />

    <div class="row g-3">
        <div class="col-md-4">
            <label class="form-label">Miejsce odbioru</label>
            <InputText class="form-control" @bind-Value="M.Location" />
            <ValidationMessage For="@(()=>M.Location)" />
        </div>

        <div class="col-md-3">
            <label class="form-label">Data odbioru</label>
            <InputDate class="form-control" @bind-Value="M.DateFrom" />
            <ValidationMessage For="@(()=>M.DateFrom)" />
        </div>

        <div class="col-md-3">
            <label class="form-label">Data zwrotu</label>
            <InputDate class="form-control" @bind-Value="M.DateTo" />
            <ValidationMessage For="@(()=>M.DateTo)" />
        </div>

        <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-primary w-100">Znajdź</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback OnNext { get; set; }

    private Model M = new();

    private async Task Next()
    {
        State.PickupLocation = M.Location;
        State.PickupDate = M.DateFrom;
        State.ReturnDate = M.DateTo;

        await OnNext.InvokeAsync();
    }

    class Model
    {
        [Required] public string? Location { get; set; }
        [Required] public DateTime? DateFrom { get; set; }
        [Required] public DateTime? DateTo { get; set; }
    }
}